#per-account-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#by-date-day-line .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

.Chart__border {
    border: 1px solid black;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}