<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Expense Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dc.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/fractures.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
</head>

<body class="bg-white w-100 minh-100">

    <header class="bg-black w-100 h-6 z-1 relative">
        <div id="total-amount-display" class="white font-size-4 pt-1 ttc top-50 left-50 absolute">Expense Amount: </div>
    </header>
    
    
    <div class="container-fluid">
        <button type="button" id="show" class="btn mx-auto block my-2">Show Data</button>
        <div class="row">
            <section class="mb-4 col-xs-12 col-sm-6">
                <div id="per-account-chart" class="collapse in mb-4 Chart__border">
                    <a data-toggle="collapse" href="#per-account-chart" class=" font-size-2 text-center blue mx-auto my-0 w-100 underline block">Total Transaction
                        Amount per Account</a>
                </div>
                <!-- <div id="by-date-day-line" class="collapse in mb-4 Chart__border">
                    <a data-toggle="collapse" href="#by-date-day-line" class=" font-size-2 text-center blue mx-auto my-0 w-100 underline block">Expense
                        Amount per Day</a>
                </div> -->
                <div id="cash-bank" class="collapse in mb-4 Chart__border">
                    <a data-toggle="collapse" href="#cash-bank" class=" font-size-2 text-center blue mx-auto my-0 underline block mb-4">Payment
                        Method</a>
                </div>
            </section>
            <section class="col-xs-12 col-sm-6">

                <div id="piechart" class="collapse in mb-4 Chart__border">
                    <a data-toggle="collapse" href="#piechart" class=" font-size-2 text-center blue mx-auto my-0 underline block mb-4">Transaction Amount</a>
                    <div class="block text-center">
                        <label class="radio-inline"><input id="quarterly" class="pie" type="radio" name="time" checked value="quarterly">quarterly</label>
                        <label class="radio-inline"><input id="monthly" class="pie" type="radio" name="time" value="monthly">monthly</label>
                        <label class="radio-inline"><input id="weekly" class="pie" type="radio" name="time" value="weekly">weekly</label>
                        <label class="radio-inline"><input id="daily" class="pie" type="radio" name="time" value="daily">daily</label>
                    </div>
                </div>
            </section>
        </div>
        <table id="table" class="table table-hover mb-4"></table>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
    <script src="{{url_for('static', filename='js/libraries/d3.js')}}"></script>
    <script src="{{url_for('static', filename='js/libraries/crossfilter.js')}}"></script>
    <script src="{{url_for('static', filename='js/libraries/dc.js')}}"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>

</body>

</html>