<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Expense Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />
    <!-- <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dc.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/fractures.css')}}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/queue-async/1.0.7/queue.min.js"></script>
</head>

<body class="bg-white minh-100">
    <div class="container-fluid">
        <header class="mb-2 pt-1">
            <h1 id="total-amount-display" class="text-center"></h1>
        </header>
        <div class="row">
            <section class="col-xs-12 col-sm-6">
                <div id="per-account-chart" class="mb-4">
                    <h2 class="text-center">Amount per Expense</h2>
                </div>
            </section>
            <section class="col-xs-12 col-sm-6">
                <div id="piechart" class="mb-4">
                    <h2 class="text-center">Transaction Amount</h2>
                </div>
                <div class="text-center">
                    <label class="radio-inline"><input id="quarterly" class="pie" type="radio" name="time" checked
                            value="quarterly">quarterly</label>
                    <label class="radio-inline"><input id="monthly" class="pie" type="radio" name="time"
                            value="monthly">monthly</label>
                    <label class="radio-inline"><input id="weekly" class="pie" type="radio" name="time"
                            value="weekly">weekly</label>
                    <label class="radio-inline"><input id="daily" class="pie" type="radio" name="time"
                            value="daily">daily</label>
                </div>
            </section>
        </div>
        <h3 id="show" class="btn mx-auto block my-2">Data below</h3>
        <table id="table" class="table table-hover mb-4" style="display: none"></table>
    </div>


<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js "></script> -->
    <script src="{{url_for('static', filename='js/libraries/jquery-3.6.3.slim.min.js')}}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js "></script>
    <script src="{{url_for('static', filename='js/libraries/d3.js')}}"></script>
    <script src="{{url_for('static', filename='js/libraries/crossfilter.js')}}"></script>
    <script src="{{url_for('static', filename='js/libraries/dc.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>

</body>

</html>
